<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/fc401d16-93f7-4538-af49-cc830ab09b00/resourceGroups/mindmapme-web-rg/providers/Microsoft.Web/sites/mindmapme-api-web</ResourceId>
    <ResourceGroup>mindmapme-web-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://mindmapme-api-web-hygbgtc3bnd2dvhw.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2147919a-7f14-4fd5-bf91-fcbeceea6da9</ProjectGuid>
    <PublishUrl>https://mindmapme-api-web-hygbgtc3bnd2dvhw.scm.westeurope-01.azurewebsites.net/</PublishUrl>
    <UserName>$mindmapme-api-web</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>